apiVersion: apiextensions.crossplane.io/v2
kind: CompositeResourceDefinition
metadata:
  name: infrastructures.mini-atlas.io
spec:
  group: mini-atlas.io
  names:
    kind: Infrastructure
    plural: infrastructures
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      referenceable: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                database:
                  type: string
              required:
                - database
