apiVersion: apiextensions.crossplane.io/v2
kind: CompositeResourceDefinition
metadata:
  name: kafkainstances.mini-atlas.io
spec:
  group: mini-atlas.io
  names:
    kind: KafkaInstance
    plural: kafkainstances
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      referenceable: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                topics:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      partitions:
                        type: integer
                        default: 3
                      replicas:
                        type: integer
                        default: 3
                      config:
                        type: object
                        x-kubernetes-preserve-unknown-fields: true
                    required:
                      - name
